<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgy.weixin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <!-- imlib config begin -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="k51hidwqkcogb" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc" />

        <service
            android:name="io.rong.imlib.ReConnectService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true" />

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />
        <!-- imlib config end -->


        <!--必选： SDK 核心功能-->
        <!--第三方相关,向第三方推送服务请求 token 的服务 -->
        <!-- 处理 push 消息相关的服务 -->
        <service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- push服务 -->

        <service
            android:name="io.rong.push.PushService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process="io.rong.push" />

        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">   <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!--必选： SDK 核心功能-->

        <!-- end -->

        <!-- 必选： SDK 核心功能 -->

        <activity android:name=".ui.activity.MainActivity" />

        <!-- 支付宝版 start -->
        <!-- 发红包页面 -->
        <activity
            android:name="com.yunzhanghu.redpacketui.ui.activity.RPRedPacketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <!-- 红包详情页面 -->
        <activity
            android:name="com.yunzhanghu.redpacketui.ui.activity.RPDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 红包记录页面 -->
        <activity
            android:name="com.yunzhanghu.redpacketui.ui.activity.RPRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 群成员列表页面 -->
        <activity
            android:name="com.yunzhanghu.redpacketui.ui.activity.RPGroupMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 支付宝H5支付页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝H5授权页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 支付宝版 end -->

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.NewFriendActivity" />
        <activity android:name=".ui.activity.GroupListActivity"></activity>
        <activity android:name=".ui.activity.ChangeMyNameActivity" />
    </application>

</manifest>